nbbuild.xml
nbproject/*
.DS_Store
build/*
.classpath
.project
bin/*/src/config.json~
/lib/nblibraries.properties
/src/org/dynasoar/config/Configuration.java~
/test/org/dynasoar/dirWatcher/DirectoryWatcherTest.java
/src/config.json~
