nbbuild.xml
nbproject/*
.DS_Store
build/*
.classpath
.project
bin/*
/lib/nblibraries.properties
/nbdist/README.TXT
/nbdist/lib/log4j-1.2.16.jar
/nbdist/lib/junit-4.8.2-src.jar
/nbdist/lib/junit-4.8.2.jar
/nbdist/lib/junit-4.8.2-api.jar
/nbdist/lib/jmdns.jar
/nbdist/lib/jetty-servlet-8.0.4.v20111024.jar
/nbdist/lib/jetty-all-8.0.4.v20111024.jar
/nbdist/lib/javax.servlet-api-3.0.1.jar
/nbdist/lib/jackson-all-1.8.6.jar
/nbdist/DynaSOAr.jar
/manifest.mf
/lib/junit/junit-3.8.2.jar
/lib/junit/junit-3.8.2-api.zip
/lib/junit_4/junit-4.10-sources.jar
/lib/junit_4/junit-4.10-javadoc.jar
/lib/junit_4/junit-4.10.jar
/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/config.json~
/nbdist/lib/commons-el-1.0.jar
/nbdist/lib/javax.servlet.jsp.jar
/nbdist/lib/org.apache.jasper.jar
/sample/CalculatorApp.json~
/sample/serviceConfig/Factorial-WebService_Client.json~
/nbdist/lib/com.sun.el_2.2.0.v201105051105.jar
/nbdist/lib/javax.el_2.2.0.v201105051105.jar
/nbdist/lib/javax.servlet.jsp_2.2.0.v201103241009.jar
/nbdist/lib/javax.servlet.jsp.jstl_1.2.0.v201004190952.jar
/nbdist/lib/org.apache.jasper.glassfish_2.2.2.v201108011116.jar
/nbdist/lib/org.apache.taglibs.standard.glassfish_1.2.0.v201004190952.jar
/sample/CalculatorApp.json
/sample/Factorial-WebService_Client.json~
